html, body , #__next, .app{
  height: 100%;
}
section {
    width: 100%;

    /* margin-bottom: -50px; */
  }
h1 {
  text-align: center;
}
.chart-row {
  height: 80%;
  overflow: scroll;
}
.footer,
.push {
  height: 50px;
}
/* footer {
  position: sticky;
  bottom: 0;
  width: 100%;
} */